{% extends 'blogApp/base.html' %}

{% block content %}
    <h1 class="text-center">About</h1>
    <p class="text-center"><em>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..." <br>
        "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</em></p>
    <hr><br>
    <div class="content">
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc laoreet, lacus id congue placerat, risus lacus ultrices sem, eu facilisis sem augue a urna. 
            Quisque fermentum blandit purus, quis euismod leo. Etiam rutrum felis quis tellus suscipit faucibus. Aliquam quis diam vitae enim iaculis accumsan sed in metus. 
            Suspendisse potenti. Phasellus pulvinar, mi sed faucibus elementum, neque est euismod lorem, ut lobortis ipsum justo ut tellus. Etiam luctus lectus id mauris porttitor, 
            eu porttitor sem pharetra. Mauris vitae lacus a sapien tempor molestie. Etiam tincidunt est ipsum, a finibus sem elementum nec. Quisque id mattis ipsum. Ut risus dui, 
            vehicula eget lectus sit amet, ullamcorper euismod nunc. Vestibulum congue erat risus, a tempus elit eleifend nec.</p>
            
        <p> Nulla lacinia ligula ac nisl finibus tempus. Cras eget mi vel lectus rutrum pharetra nec in nisi. Vestibulum placerat ligula at quam scelerisque ultricies. 
            Praesent elit nisl, dignissim sed tempor et, suscipit vel ipsum. In sed posuere metus. Nam iaculis leo et vehicula ultricies. Pellentesque eu augue non augue vehicula sollicitudin. 
            Cras dui metus, elementum at nisl a, ullamcorper fringilla magna. Nulla ac ornare libero. Morbi quis nisl magna. Etiam semper vulputate lectus, id dignissim quam bibendum a. Proin elit neque, 
            condimentum vel felis eu, posuere tincidunt purus.</p>
            
        <p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec a lectus mi. Quisque blandit elit et porta viverra. 
            Proin non accumsan turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin interdum augue est, eget efficitur turpis vestibulum non. 
            Vestibulum quis venenatis elit. Sed et ligula ac purus volutpat accumsan nec nec est. Morbi ultrices nec quam ut cursus. Praesent id ligula sed magna feugiat ornare.</p>
            
        <p> Donec ac ante a enim laoreet molestie. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus tempor enim cursus, 
            pulvinar dui nec, pharetra enim. Proin porttitor et quam vel tempor. Nunc luctus tellus sit amet eros elementum, at viverra turpis convallis. Vivamus convallis nisl 
            sit amet eros tincidunt egestas. Sed suscipit risus a arcu tristique, ac dapibus justo interdum.</p>
            
        <p> Integer eget enim urna. Ut nibh leo, rutrum non ligula vel, dapibus pellentesque erat. Etiam ex sem, egestas non efficitur sagittis, ornare ut orci. In vel tristique sem. 
            Donec consequat tellus vel hendrerit tincidunt. Ut quis ante malesuada est porta condimentum eu ut neque. Aliquam erat volutpat. Pellentesque sed erat risus. Pellentesque rhoncus, 
            libero sit amet laoreet porta, lacus dui ultricies dolor, vulputate ultricies velit lorem eget lectus. Suspendisse eget nunc fringilla ante luctus volutpat viverra non elit. 
            Etiam et molestie nisi. Maecenas imperdiet ipsum scelerisque tortor pellentesque bibendum. Pellentesque efficitur tortor finibus justo auctor vehicula. Ut lacinia, diam nec 
            feugiat tempus, nisi felis faucibus nunc, id ullamcorper nunc massa a leo. Proin vel aliquet odio. </p>
    </div>

{% endblock%}