<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Blog</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@600&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="{% url 'post_list'%}">BlogClone</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'about' %}">About</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'post_new' %}">New Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'post_draft_list' %}">Drafts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                    <form class="d-flex" role="search" action="{% url 'post_list' %}" method="Get">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                      <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>
                  </div>
                </div>
              </nav>
        </header>
        <div class="container mt-2">
            {% block content %}

            {% endblock %}
        </div>
        <div class="container-fluid min-vh-100">
            <footer id="ft" class="d-flex flex-column align-items-center py-3 my-4 border-top text-muted">                                
                <p> Copyright &copy; 2022 BlogClone, Inc</p>
                <p> Designed by <a href="https://www.linkedin.com/in/shazelle-isaacs-burke-714b7868/" target="_blank" class="ph_link">SPECS</a></p>
            </footer>
        </div>
    </body>
</html>